# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Podfile.lock
android/.gradle/
android/build/
ios/Pods/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetService.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/externalDependencies.xml
.idea/filetypes.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/runConfigurations/
.idea/vcs.xml
.idea/shelf/
.idea/copyright/

# Spring Boot (Maven)
target/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetService.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/externalDependencies.xml
.idea/filetypes.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/runConfigurations/
.idea/vcs.xml
.idea/shelf/
.idea/copyright/
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Spring Boot (Gradle)
.gradle/
build/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetService.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/externalDependencies.xml
.idea/filetypes.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/runConfigurations/
.idea/vcs.xml
.idea/shelf/
.idea/copyright/
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Flask and Django (Python)
__pycache__/
*.pyc
*.sqlite3
venv/
env/
Include/
Lib/
.env
*.egg-info/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetService.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/externalDependencies.xml
.idea/filetypes.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/runConfigurations/
.idea/vcs.xml
.idea/shelf/
.idea/copyright/

# C++
*.o
*.exe
*.dll
*.so
*.dylib
*.obj
*.lib
*.pdb
*.suo
*.user
*.ncb
*.sln
*.vcxproj
*.vcxproj.filters
*.ipch/
build/
Debug/
Release/

# IDE Specific
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.log
*.bak
*.tmp
